<div class="footer text-center">
    <div class="card">
        <img src="https://dummyimage.com/1000x20/e3f2fd/00000b.jpg&text=++++" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">
                <a routerLink="#" style="margin: 10px;"><img src="assets/facebook.png" alt="facebook" width="30px" height="30px"/> </a>
                <a routerLink="#" style="margin: 10px;"><img src="assets/instagram.png" alt="instagram" width="30px" height="30px"/></a>
                <a routerLink="#" style="margin: 10px;"><img src="assets/twitter.png" alt="twitter" width="30px" height="30px"/></a>
                <a routerLink="#" style="margin: 10px;"><img src="assets/pinterest.png" alt="pinterest" width="30px" height="30px"/></a>
            </p>
        </div>
        <div class="card-body" style="justify-content: space-between;">
            <a href="#" class="card-link">Become a Seller</a>
            <a href="#" class="card-link">Polices</a>
            <a href="#" class="card-link">Help Center</a>
            <a href="#" class="card-link">FAQs</a>
            <a href="#" class="card-link">Sitemap</a>
            <a href="#" class="card-link">News</a>
            <a href="#" class="card-link">Terms and Conditions</a>
        </div>
        <div class="card-footer text-muted">
            Made with Love &copy; 2023
        </div>
    </div>
    <!--
    <p style="text-align: center;">&copy; 2023 MyKart</p>
 -->
</div>