<br><br>

<div class="row product-details" *ngIf="productData">
    <div class="col-sm-7">
        <img class="product-image" src="{{productData.image}}" />
    </div>
    <div class="col-sm-5">
        <div class="details">
            <h1>{{productData.name}}</h1>
            <h3>Price : {{productData.price}}</h3>
            <div>Color :<h3 [style.backgroundColor]="productData.color" class="product-color"></h3>
            </div>
            <h6>Category : {{productData.category}}</h6>
            <h6>Description : {{productData.description}}</h6>
            <div class="quantity-group">
                <button (click)="handleQuantity('min')">-</button>
                <input type="text" value={{productQuantity}} />
                <button (click)="handleQuantity('max')">+</button>
            </div>
            <div class="row" style="margin-top: 10px;">
            <li class="col col-4-12" style="list-style-type: none"><button type="button" class="btn btn-warning">Buy Now</button></li>
            <li class="col col-4-12" style="list-style-type: none"><button *ngIf="!removeCart" type="button" class="btn btn-warning" (click)="AddtoCart()">Add to
                    Cart</button></li>
            <a class="col col-4-12" style="list-style-type: none"><button *ngIf="removeCart" type="button" class="btn btn-warning"
                    (click)="RemovetoCart(productData.id)">Remove from Cart</button></a>
            </div>
        </div>
    </div>
</div>