.user-auth , h1{
    text-align: center;    
    margin-bottom: 50px;
    margin-top: 80px;
    color: blueviolet;
}
.user-auth{
    margin: 100px;
}
.auth-toggle{
    cursor: pointer;
    margin-top: 20px;
    color: blueviolet;
    /* text-decoration: blink; */
    font-weight: bold;
}